*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: left top, bottom right;
    /* margin-bottom: 130px; */
}

.nav{
    width: 1260px;
    max-width: 1130px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 48px;
}

.nav h1{
    font-weight: 900px;
    font-size: 45px;
}

.nav .menu{
    list-style: none;
    display: flex;
    gap: 44px;
    font-size: 20px;
    align-items: center;
}

.nav .menu a{
    text-decoration: none;
    color: #474747;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 14px 29px;
    border-radius: 6px;
    font-weight: 600px;
    font-size: 20px;
}

.introduction-part{
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
}

.introduction-part .name-text{
    width: 1000px;
    margin-left: 80px;
}

.introduction-part .name-text h3{
    color: #474747;
    font-size: 45px;
    font-weight: 600px;
    padding-bottom: 6px;
}

.introduction-part .name-text h1{
    font-size: 85px;
    padding-bottom: 20px;
}

.introduction-part  .name-text p{
    color:#757575;
    font-weight: 18px;
    padding-bottom: 30px;
    line-height: 30px;
}

.introduction-part .image{
    width: 870px;
    /* margin-left: 400px; */
}

.introduction-part .image img{
    padding-left: 450px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}

#about .section-heading h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}

#about .section-heading p{
    color: #757575;
    line-height: 30px;
    margin-bottom: 50px;
}
.about-container{
    padding: 131px 158px;
    background-color:   #FFF8F3;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-info {
    display: flex;
    justify-content: space-around;
}

.about-info p{
    color: #757575;
    margin-bottom: 7px;
    font-weight: 600px;
}

#skill{
    padding-top: 135px;
}

.skill-container{
    max-width: 1100px;
    margin: 0 auto;
}

.skill-container .skill-heading{
    text-align: center;
    padding: 0px 120px;
}

.skill-container .skill-heading h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}

.skill-container .skill-heading p{
    color: #757575;
    line-height: 30px;
    margin-bottom: 50px;
}

.skill-container .skill-info{
    display: flex;
    justify-content: space-around;
}

.skill-container .skill-info .skill-card{
    max-width: 220px;
    padding: 21px;
    box-shadow: 0 6px 9px #383737;
    border-radius: 6px;
}

.skill-container .skill-info .skill-card img{
    margin-bottom: 33px;
}

.skill-container .skill-info .skill-card h3{
    font-size: 20px;
    padding-bottom: 20px;
}

.skill-container .skill-info .skill-card p{
    color: #757575;
    line-height: 30px;
    margin-bottom: 50px;
} 

#summary{
    padding-top: 134px;
}

.summary-container{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.summary-container .summary-heading{
    text-align: center;
}

.summary-container .summary-heading h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 113px;
}

 .resume-container{
    display: flex;
    justify-content: space-between;
}

 .resume-container .resume-content{
    max-width: 530px;
}

.resume-heading{
    font-size: 25px;
    margin-bottom: 30px;
}

.education h4{
    margin-bottom: 10px;
     color: #464444;
}


.education p{
    color: #757575;
    line-height: 25px;
    padding-right: 72px;
}

.resume-content hr{
    margin: 30px 0px;
}

.education .name{
    color: #757575;
    margin-bottom: 20px;
}

.text-centre{
    text-align: center;
}

footer{
    margin-top: 113px;
    background-color: #FFF8F3;
}

.social{
    max-width: 1100px;
    margin: 0 auto;
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
}

.social .connect-content{
    max-width: 500px;
}



.social h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.social p{
     color: #757575;
    line-height: 25px;
    margin-bottom: 30px;
}

.connect-content img {
    margin-right:24px;
}


.message-content{
    width: 460px;
}

.message-content form input, textarea{
    padding: 23px 10px;
    width: 100%;
    margin-bottom: 12px;
    border: none;
    border-radius: 5px;
}